# Core functionality - changes here should be rare!
/src/app.py                   @Ed270
/src/backend/database.py      @Ed270
/src/backend/routers/auth.py  @Ed270

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ed270
